# Ignored files/directories

# Any virtual environment
.venv

# Content of the chat history folder
chat_history/*
!chat_history/.gitkeep

# Content of the logs folder
logs/*
!logs/.gitkeep

# Uploaded files
uploaded_files/*
!uploaded_files/.gitkeep

# Ohter files
.DS_Store
*cache*
sketch.txt
__pycache__
TODO.md